
.homepage-meal-image {
    width: 22%;
    margin: 1% 1%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(80%);
    z-index: 1;
}

.get-started {
    text-decoration: none;
}

.homepage-meal-title {
    padding-top: 50%;
    padding-bottom: 15%;
    color: #ffffff;
    margin: 0 10px;
    text-align: center;
}